body {
    margin: 0;
    font-family: Arial, sans-serif;
     background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}

section {
    padding: 40px 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.project {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
}

.project img {
    width: 50%;
    border-radius: 15px;
    margin-top: 15px;
}

form {
    max-width: 400px;
    margin: auto;
    text-align: left;
    
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #2b39ff4a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3a5797;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 5px;
}